table
  thead
    tr
      th Name
      th(colspan="2") Status
      if book.status
        for person in Object.keys(book.status)
          tr
            th #{person}
            if book.status[person]
              - obj = book.status[person][book.status[person].length - 1]
              td(class='reading-'+obj.status)  #{obj.status}
              if obj.pages
                td #{obj.pages} / #{book.pages}
              else
                td
            else
              td Awaiting confirmation
      else
        tr
          td(colspan="2").center Awaiting readers
