//- vim:ft=jade
extends ../skeleton
block title
  title Reading List
block breadcrumb
  li
    a(href='/book-club') Book club
  li
    a(href='/book-club/reading-list') Reading list
block css
    link(rel='stylesheet', href='/readinglist.css')
block content
  .grid-row
    .column-two-thirds
       h1.heading-xlarge Reading list
       p.lede The following books have been selected by the community to be read.
  .grid-row
    .column-two-thirds.books
      for book in books
          div.book
            if book.upstream
              if book.upstream.imageLinks
                a(href='/book-club/book/'+book.isbn)
                  img(src=book.upstream.imageLinks.thumbnail)
            p
              a(href='/book-club/book/'+book.isbn).title.font-small #{book.title}
            p
              a(href='/book-club/book/'+book.isbn).author.font-xsmall #{book.author}
      else
        p There are no books on the reading list.
