extends skeleton
block title
  title Forbidden
block content
  .grid-row.error.form-group-error
    .column-two-thirds
      h1.heading-xlarge Forbidden
      p The server understood the request but refuses to authorize it.
      a.link-back(href='/') Back to homepage
