extends skeleton
block title
  title #{__('error-403-heading')}
block content
  .grid-row.error.form-group-error
    .column-two-thirds
      h1.heading-xlarge #{__('error-403-heading')}
      p #{__('error-403-prose')}
      a.link-back(href='/') #{__('error-403-back')}
