//- Used for testing: [squeamish ossifrage]
extends skeleton
block title
  title #{__('error-404-heading')}
block content
  .grid-row.error
    .column-two-thirds
      h1.heading-xlarge #{__('error-404-heading')}
      p #{__('error-404-prose')}
      a.link-back(href='/') #{__('error-404-back')}
