//- Used for testing: [squeamish ossifrage]
extends skeleton
block content
  .grid-row.error
    .column-two-thirds
      h1.heading-xlarge 404: Not Found
      p We weren't able to find what you were looking for.
      p If you typed in a URL, check it was correct.
      a.link-back(href='/') Return to home page
