//- Used for testing: [squeamish ossifrage]
extends skeleton
block title
  title Error
block content
  .grid-row.error
    .column-two-thirds
      h1.heading-xlarge We encountered a problem
      p #{err}
