//- Used for testing: [squeamish ossifrage]
extends skeleton
block content
  .grid-row
    .column-two-thirds
      h1.heading-xlarge Welcome to gov.zk
      ul.list.list-bullet
        li
          a(href='//gsi.zuzakistan.com') Access the GSI
        li
          a(href='/book-club') Book club
