//- Used for testing: [squeamish ossifrage]
extends skeleton
block content
  .grid-row
    .column-two-thirds
      h1.heading-xlarge Welcome to gov.zk
      p Information goes here
    .column-one-third
      h2.heading-medium Help and information
      ul.list.list-bullet
        li
          a(href='//gsi.zuzakistan.com') Access the GSI

