extends skeleton
block css
  link(rel="stylesheet",href="home.css")
block breadcrumbs
block content
  .hero
    .grid-row
      .column-two-thirds
        .fortune-outer
          h1.heading-xlarge Jaffa Cakes
          if fortune
            p.font-small.fortune #{String(fortune).replace(/--/g,'—')}
          else
            p.font-small.fortune Hello
      .column-one-third.black-nav
        h2.heading-small Navigation
        ul.list.list-bullet.font-small
          li
            a(href='//gsi.zuzakistan.com') GSI
  .grid-row
      h2.heading-medium Voting
      p.heading-small Which sample do you wish to rate next?
      ul.samplelist
        for sample in "abcdefg".split('')
          li: a(href='/ranking/'+sample)= sample
      p.placeholder: span(lang="cy") nid byd, byd heb cacennau
