//- Used for testing: [squeamish ossifrage]
extends skeleton
block content
  .grid-row.error
    .column-two-thirds
      h1.heading-xlarge Placeholder
      p The functionality you requested is not yet available.
      p Please check back later.
      a.link-back(href='/') Return to home page
