extends skeleton
block title
  title #{__('error-501-heading')}
block content
  .grid-row.error
    .column-two-thirds
      h1.heading-xlarge #{__('error-501-heading')}
      p #{__('error-501-prose')}
      a.link-back(href='/') #{__('error-501-back')}
