@import './index.scss';

.hero {
  background-color: $accent-color;
  color: white;
}

#content { margin: 0; max-width: inherit; }
.grid-row { max-width: 960px; margin: 0 auto !important; padding-bottom: 0; }
h1 { margin-bottom: 0.2em !important;}
.accent-bar { height: 3em; }
.black-nav { 
  background-color: black; padding-bottom: 1.25em; padding: 1.25em;
  ul { padding-left: 0}
  li { list-style-type: none; }
  a { color: white !important }
}

.main-body li { padding: 0.2em; }
.main-body h3 { margin-left: 0.2em; margin-bottom: 0.1em }

//.login { display: none; }
$placeholder-height: 6em;
.placeholder{ padding-top: $placeholder-height + 6em; padding-bottom: $placeholder-height; color: $border-colour; text-align: center}
.fortune { white-space: pre }
.fortune-outer {text-align: center; display:inline-block;}
h1{text-align:left;}
.fortune{ display: inline-block; text-align: left; }
.phase-banner-alpha, .phase-banner-beta { display: none; }
