@import './index.scss';

.hero {
  background-color: $un-blue;
  color: white;
}

#content { margin: 0; max-width: inherit; }
.grid-row { max-width: 960px; margin: 0 auto !important; padding-bottom: 0; }
h1 { margin-bottom: 0.2em !important;}
.accent-bar { height: 3em; }
.black-nav { 
  background-color: black; padding-bottom: 1.25em; padding: 1.25em;
  ul { padding-left: 0}
  li { list-style-type: none; }
  a { color: white !important }
}

.login { display: none; }
$placeholder-height: 9em;
.placeholder{ padding-top: $placeholder-height + 6em; padding-bottom: $placeholder-height; text-align: center; color: $border-colour}
.phase-banner-alpha, .phase-banner-beta { display: none; }
