$path: "/";
$toolkit-font-stack: "Muli";
$un-blue: #4b92db;


@import 'https://fonts.googleapis.com/css?family=Muli';

@import 'govuk-elements';
@import '_conditionals';
@import 'elements/govuk-template-base';

header {
	background-color: $text-colour;
	color: $page-colour;
  min-height: 3em;
}
.header .logo {
	color: inherit;
	text-decoration: inherit;
	text-transform: uppercase;
}
.logo {
  display:inline-block;
  padding-top: 0.1em;
}
.logo:hover {
	text-decoration: underline;
}
.header, .footer {
	@extend %site-width-container;
}

footer {
	background-color: $panel-colour;
	border-top: 1px solid $secondary-text-colour;
	color: $secondary-text-colour;
	box-shadow: 0 50em 0 50em $panel-colour;
}
footer a {
	text-align: center;
	display: block;
	color: $secondary-text-colour !important;
	padding: 1em;
}
footer a:hover {
	color: $text-colour !important;
}

.accent-bar {
	background-color: $un-blue;
	height: 0.5em;
	width: 100%;
}

.header .login {
	margin-top: 0.5em;
	margin-right: 1em;
	float:right;
}
.stack {
	overflow: scroll;
}
.red { color: $error-colour }
.green { color: $grass-green }
.grid-row { margin: 0 0 !important; }
.center { text-align: center; }
.unanimous::before { content: "★ "}
.almost-unanimous::before { content: "☆ "}
.languages {
  list-style-type: none;
  li, h2, ul { display: inline-block; }
  h2 { font-weight: bold; }
}
