$path: "/";
$toolkit-font-stack: "nta", "Palanquin";//"Raleway";
$accent-color: #3b6884; // blue
//$accent-color: #68843b; // green
$accent-color-zk: #843B68; // purple


@import 'https://fonts.googleapis.com/css?family=Palanquin';

@import 'govuk-elements';
@import '_conditionals';
@import 'elements/govuk-template-base';

.zuzakistan .phase-tag { background-color: $accent-color-zk !important;}
.phase-tag { background-color: $accent-color !important;}
.white-label a:visited { color: $accent-color }
.zuzakistan a:visited { color: $accent-color-zk }

.notification { border-color: $accent-color }
.zuzakistan .notification { border-color: $accent-color-zk }

header {
	background-color: $text-colour;
	color: $page-colour;
  min-height: 3em;
}
.header .logo {
	color: inherit !important;
	text-decoration: inherit;
	text-transform: uppercase;
}
.logo {
  display:inline-block;
  padding-top: 0.1em;
}
.logo:hover {
	text-decoration: underline;
}
.header, .footer {
	@extend %site-width-container;
}

footer {
	background-color: $panel-colour;
	border-top: 1px solid $secondary-text-colour;
	color: $secondary-text-colour;
	box-shadow: 0 50em 0 50em $panel-colour;
}
footer a {
	text-align: center;
	display: block;
	color: $secondary-text-colour !important;
	padding: 1em;
}
footer a:hover {
	color: $text-colour !important;
}

.accent-bar {
	background-color: $accent-color;
}
.zuzakistan .accent-bar {
	background-color: $accent-color-zk !important;
}
.accent-bar {
	height: 0.5em;
	width: 100%;
}

.header .login {
	margin-top: 0.5em;
	margin-right: 1em;
	float:right;
}
.stack {
	overflow: scroll;
}
.red { color: $error-colour }
.green { color: $grass-green }
.grid-row { margin: 0 0 !important; }
.center { text-align: center; }
.almost-unanimous::before { content: "🔶 ⚠ "}
.unanimous::before { content: "🏆 "}
.incomplete::before { content: "⚠ "}
.languages {
  list-style-type: none;
  li, h2, ul { display: inline-block; }
  h2 { font-weight: bold; }
}
.delta {
  font-size: 0.7em;
  padding-left: 0.5em;
  color: $grey-1;
}
ol.columns {
  columns: 15rem auto;
}
