@import 'index.scss';
.book-item h2 { margin: 0}
.center { text-align: center; }
.book {
  display: inline-block;
  margin: 1em;
  text-align: center;
  p {
    margin: 0;
  }
  .author { color: inherit; text-decoration: inherit; }
}
