@import 'index.scss';
h1 { margin-top: 0 !important; margin-bottom:1em !important}
.progress { color: $secondary-text-colour;margin-bottom: 0 !important}
.cover {float:left; margin:1em;}
form.ballot { clear:both; border: 3px solid black; padding: 1em; margin-top: 1em}
form.ballot .button { margin-top: 0.2em }
.title{margin-bottom:0 !important}
.submit{margin-top:1em}
.phase-tag { background-color: $error-colour !important;}
.sidebar {text-align: center;}
.reading-list { color: $yellow; font-weight: bold; }
.reading-acknowledged { color: $mauve; padding-left: 0em; }
.reading-ordered { color: $turquoise; padding-left: 1em;  }
.reading-arrived { color: $fuschia; padding-left: 2em }
.reading-started { color: $green; padding-left: 3em }
.reading-finished { color: $mellow-red; padding-left: 4em }
.reading-stalled { color: $red; padding-left: 5em }
.right { text-align: right; }
.callNumber {font-family: 'monospace'}
progress { max-width: 4em; float:right; background-color: $border-colour; }
